
.grid280 {
	background: rgb(247, 248, 252); width: 290px; float: left;
}
h6.h6_title {
	background: url("http://res0.xzlres.com/overseas_web/images/overseas_indexbg.png") repeat-x 0px -679px rgb(255, 255, 255); font: 14px/35px "Microsoft YaHei"; padding: 0px 20px; height: 35px; position: relative; font-size-adjust: none; font-stretch: normal;
}
h6.h6_title a {
	top: 0px; right: 20px; font-size: 12px; white-space: nowrap; position: absolute;
}
.blkContainerSblkCon_12 {
	font-size: 12px;
}
.blkContainerSblkCon_14 {
	font-size: 14px;
}
.blkContainerSblkCon_16 {
	font-size: 16px;
}
.HSpace_15 {
	height: 15px; overflow: hidden;
}
.no_data {
	background: rgb(249, 249, 249); padding: 20px; border: 1px solid rgb(236, 236, 236); text-align: center; line-height: 20px; font-size: 14px; margin-top: 20px;
}
#listNav {
	height: 1px; line-height: 1px; border-top-color: #FA3E0A; border-bottom-color: #E02000; border-top-width: 2px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(250, 250, 250);
    margin-top: 10px;
}
.ie6 #listNav {
	overflow: hidden;
}
#listNav li {
	font-weight: 800; float: left;
}
#listNav li a {
	width: 80px; height: 35px; text-align: center; color: rgb(58, 58, 58); text-decoration: none; display: block;
}
#listNav li a:hover {
	background-color: rgb(241, 243, 240);
}
#listNav li a.current {
	width: 78px; height: 36px; color: rgb(102, 153, 0); border-right-color: rgb(201, 201, 201); border-left-color: rgb(201, 201, 201); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; position: relative; background-color: rgb(255, 255, 255);
}
#newsCon .sort_con {
	line-height: 19px; margin-top: 20px;
}
#newsCon .sort_con .SortBtn {
	background-image: url("http://res0.xzlres.com/overseas_web/images/ListBg.png");
}
#newsCon .sort_con .SortBtn {
	background-position: 100% -95px; padding: 0px 25px 0px 15px; border: 1px solid rgb(189, 189, 189); height: 19px; color: rgb(75, 75, 75); line-height: 19px; overflow: hidden; margin-left: 10px; display: inline-block; background-color: rgb(255, 255, 255);
}
#newsCon .sort_con .SortBtn:hover {
	border: 1px solid rgb(255, 150, 0); text-decoration: none;
}
#newsCon .sort_con .sortdesc.SortBtn {
	background-position: 100% -115px; border: 1px solid rgb(255, 150, 0);
}
#newsCon .sort_con .sortasc.SortBtn {
	background-position: 100% -135px; border: 1px solid rgb(255, 150, 0);
}
.news_BoxWrap {
	width: 668px; line-height: 26px; overflow: hidden;
}
.news_BoxWrap li {
	padding: 20px 10px; width: 648px; color: rgb(119, 119, 119); line-height: 22px; border-bottom-color: rgb(239, 239, 239); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.news_BoxWrap li dt {
	width: 400px; font-size: 14px; float: left;
}
.news_BoxWrap li dd {
	width: 210px; text-align: right; font-size: 12px; float: left;
}
.news_BoxWrap li.dotline {
	width: 100%; height: 10px; margin-bottom: 10px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed;
}
.news_BoxWrap li a.current {
	color: rgb(102, 153, 0);
}
.news_BrowH {
	font: 400 16px/normal "Microsoft Yahei"; height: 30px; font-size-adjust: none; font-stretch: normal;
}
.news_date {
	padding: 5px 0px 0px 10px; color: rgb(153, 153, 153); font-size: 12px;
}
.news_date em {
	color: rgb(102, 153, 0);
}
.gray {
	color: rgb(51, 51, 51) !important;
}
.red {
	color: rgb(236, 67, 0) !important;
}
#newsCon .gray_con {
	padding: 20px;
}
#newsCon .gray_con h5 {
	font: 14px/16px "Microsoft YaHei"; margin-bottom: 10px; font-size-adjust: none; font-stretch: normal;
}
#newsCon .gray_con .line {
	background: url("http://res0.xzlres.com/overseas_web/images/detail_bg.png") repeat-x 0px -538px; height: 28px; overflow: hidden; display: block;
}
.expert_con dl {
	height: 80px; overflow: hidden;
}
.expert_con dt {
	width: 100px; float: left; display: inline;
}
.expert_con dt a {
	width: 80px; height: 80px; display: block;
}
.expert_con dt a img {
	width: 80px; height: 80px; display: block;
}
.expert_con dd {
	width: 140px; float: left; display: inline;
}
.expert_con dd h6 {
	font: bold 14px/16px arial; margin-bottom: 10px; font-size-adjust: none; font-stretch: normal;
}
.expert_con dd h6 a {
	height: 16px; color: rgb(102, 153, 0); overflow: hidden; white-space: nowrap;
}
.expert_con dd p {
	line-height: 18px;
}
.expert_con .expert_info {
	color: rgb(153, 153, 153); line-height: 23px; margin-top: 10px;
}
.right_bar {
	width: 669px; overflow: hidden; border-right-color: rgb(236, 236, 236); border-right-width: 1px; border-right-style: solid; float: left;
}
.toolbar {
	padding: 10px 10px 10px 0px; height: 21px; font-size: 12px; font-weight: 300;
}
.tool_l {
	width: 495px; float: left;
}
.tool_l ul {
	
}
.tool_l ul li {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/news_bg_2010.gif") no-repeat right -240px; padding: 0px 6px 5px 0px; height: 16px; margin-right: 10px; float: left;
}
.tool_l ul li a {
	height: 16px; line-height: 16px; display: block;
}
.tool_l ul li.t1 a {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/news_bg_2010.gif") no-repeat 0px -266px; width: 48px; padding-left: 19px;
}
.tool_l ul li.t2 a {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/news_bg_2010.gif") no-repeat 0px -291px; width: 25px; padding-left: 20px;
}
.tool_l ul li.t3 a {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/news_bg_2010.gif") no-repeat 0px -316px; width: 25px; padding-left: 21px;
}
.tool_l ul li.t4 a {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/news_bg_2010.gif") no-repeat 0px -341px; width: 25px; padding-left: 18px;
}
.tool_l ul li.t5 a {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/news_bg_2010.gif") no-repeat 0px -366px; width: 25px; padding-left: 22px;
}
.tool_l ul li.t6 {
	position: relative; z-index: 999; cursor: pointer;
}
.tool_l ul li.t6 .share {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/news_bg_2010.gif") no-repeat 0px -390px; width: 25px; height: 16px; line-height: 16px; padding-left: 22px; display: block;
}
.tool_l ul li.t6 a {
	
}
.tool_l ul li.t6 .menu {
	border-width: 1px 2px 2px 1px; border-style: solid; border-color: rgb(231, 231, 231) rgb(195, 195, 195) rgb(195, 195, 195) rgb(231, 231, 231); left: -1px; top: 20px; white-space: nowrap; position: absolute; z-index: 999; background-color: rgb(255, 255, 255);
}
.tool_l ul li.t6 .menu li {
	margin: 0px; padding: 0px; width: 120px; height: 25px; line-height: 25px; float: left;
}
.tool_l ul li.t6 .menu li.s1 a {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/share.gif") no-repeat 5px 1px;
}
.tool_l ul li.t6 .menu li.s2 a {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/share.gif") no-repeat 5px -24px;
}
.tool_l ul li.t6 .menu li.s3 a {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/share.gif") no-repeat 5px -50px;
}
.tool_l ul li.t6 .menu li.s4 a {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/share.gif") no-repeat 5px -74px;
}
.tool_l ul li.t6 .menu li.s5 a {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/share.gif") no-repeat 5px -135px;
}
.tool_l ul li.t6 .menu li a {
	padding: 0px 0px 0px 25px; width: 95px; height: 25px; line-height: 25px; display: block;
}
.tool_l ul li.t6 .menu li a:hover {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(30, 80, 162);
}
.tool_l ul li.t7 a {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/share.gif") no-repeat 2px -4px; width: 62px; overflow: hidden; padding-left: 20px;
}
.tool_r {
	width: 108px; text-align: right; overflow: hidden; float: right;
}
.tool_r span {
	line-height: 16px;
}
.tool_r ul li {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/news_bg_2010.gif") no-repeat right -300px; padding: 0px 6px 5px 2px; height: 16px; margin-right: 5px; float: left;
}
.tool_r ul li a {
	width: 12px; height: 16px; line-height: 16px; display: block;
}
.tool_r ul li.selected {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/news_bg_2010.gif") no-repeat right -270px;
}
.tool_r ul li.selected a {
	color: rgb(102, 153, 0) !important; font-weight: 800;
}
.blkContainerSblk h1 {
	padding: 10px 10px 0px; height: 30px; color: rgb(0, 0, 0); line-height: 30px; font-family: "微软雅黑",黑体; font-size: 24px; font-weight: 500;
}
.artInfo {
	padding: 5px 10px 0px; color: rgb(126, 126, 126); line-height: 14px; overflow: hidden; font-family: Arial,Helvetica,sans-serif; font-size: 12px;
}
.artInfo span {
	margin-right: 25px;
}
.artInfo a {
	color: rgb(126, 126, 126);
}
.blkContainerSblkCon {
	padding: 0px 10px; line-height: 25px; margin-top: 20px;
}
.blkContainerSblkCon select {
	font-size: 12px;
}
.blkContainerSblkCon p {
	margin: 15px 0px; line-height: 200%;
}
.blkContainerSblkCon p a:link {
	color: rgb(1, 47, 122); text-decoration: underline;
}
.blkContainerSblkCon p a:visited {
	color: rgb(1, 47, 122); text-decoration: underline;
}
.blkContainerSblkCon img {
	border: 1px solid rgb(0, 0, 0);
}
.moduleSingleImg01 {
	text-align: center; clear: both;
}
.blkContainerSblkCon p.related {
	background: url("http://i0.sinaimg.cn/hs/wumingli/dichan/bg1/arrow.jpg") no-repeat 0px; padding-left: 13px; font-size: 14px; font-weight: 700; margin-bottom: 0px;
}
.blkContainerSblkCon ul li {
	background: url("http://www.sinaimg.cn/hs/dichan/20100531/news_bg_2010.gif") no-repeat 0px -528px; padding-left: 10px; font-size: 14px;
}
.blkContainerSblkCon ul li a {
	color: rgb(1, 47, 122) !important;
}
.blkContainerSblkCon ul.article_list li {
	
}
.blkContainerSblkCon ul.article_list li h2 {
	padding-top: 10px;
}
.quote {
	padding: 10px; color: rgb(102, 153, 0); line-height: 20px; text-indent: 2em; font-size: 12px; margin-top: 15px; border-top-color: rgb(231, 231, 231); border-bottom-color: rgb(231, 231, 231); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(247, 248, 252);
}
.pb {
	clear: both;
}
.pb table td {
	text-align: center;
}
.pagebox {
	overflow: hidden; font-family: "宋体" ,sans-serif; font-size: 12px; display: inline; zoom: 1;
}
.pagebox span {
	background: rgb(255, 255, 255); text-align: center; overflow: hidden; margin-right: 2px; float: left;
}
.pagebox span a {
	overflow: hidden; display: block; zoom: 1; _float: left;
}
.pagebox span.pagebox_pre_nolink {
	border: 1px solid rgb(221, 221, 221); width: 53px; height: 21px; text-align: center; color: rgb(153, 153, 153); line-height: 21px; cursor: default;
}
.pagebox span.pagebox_pre {
	height: 23px; color: rgb(53, 104, 185);
}
.pagebox span.pagebox_pre a {
	border: 1px solid rgb(154, 175, 229); width: 53px; height: 21px; text-align: center; color: rgb(53, 104, 185); line-height: 21px; text-decoration: none; cursor: pointer;
}
.pagebox span.pagebox_pre a:visited {
	border: 1px solid rgb(154, 175, 229); width: 53px; height: 21px; text-align: center; color: rgb(53, 104, 185); line-height: 21px; text-decoration: none; cursor: pointer;
}
.pagebox span.pagebox_next a {
	border: 1px solid rgb(154, 175, 229); width: 53px; height: 21px; text-align: center; color: rgb(53, 104, 185); line-height: 21px; text-decoration: none; cursor: pointer;
}
.pagebox span.pagebox_next a:visited {
	border: 1px solid rgb(154, 175, 229); width: 53px; height: 21px; text-align: center; color: rgb(53, 104, 185); line-height: 21px; text-decoration: none; cursor: pointer;
}
.pagebox span.pagebox_pre a:hover {
	border: 1px solid rgb(46, 106, 177); color: rgb(54, 54, 54);
}
.pagebox span.pagebox_pre a:active {
	border: 1px solid rgb(46, 106, 177); color: rgb(54, 54, 54);
}
.pagebox span.pagebox_next a:hover {
	border: 1px solid rgb(46, 106, 177); color: rgb(54, 54, 54);
}
.pagebox span.pagebox_next a:active {
	border: 1px solid rgb(46, 106, 177); color: rgb(54, 54, 54);
}
.pagebox span.pagebox_num_nonce {
	background: rgb(41, 108, 179); padding: 0px 8px; height: 23px; color: rgb(255, 255, 255); line-height: 23px; font-weight: bold; cursor: default;
}
.pagebox span.pagebox_num {
	height: 23px; color: rgb(53, 104, 185);
}
.pagebox span.pagebox_num a {
	padding: 0px 8px; border: 1px solid rgb(154, 175, 229); height: 21px; color: rgb(53, 104, 185); line-height: 21px; text-decoration: none; cursor: pointer;
}
.pagebox span.pagebox_num a:visited {
	padding: 0px 8px; border: 1px solid rgb(154, 175, 229); height: 21px; color: rgb(53, 104, 185); line-height: 21px; text-decoration: none; cursor: pointer;
}
.pagebox span.pagebox_num a:hover {
	border: 1px solid rgb(46, 106, 177); color: rgb(54, 54, 54);
}
.pagebox span.pagebox_num a:active {
	border: 1px solid rgb(46, 106, 177); color: rgb(54, 54, 54);
}
.pagebox span.pagebox_num_ellipsis {
	width: 22px; color: rgb(57, 55, 51); line-height: 23px;
}
.pagebox span.pagebox_next_nolink {
	border: 1px solid rgb(221, 221, 221); width: 53px; height: 21px; text-align: center; color: rgb(153, 153, 153); line-height: 21px; cursor: default;
}
.Pager_Normal {
	margin: 0px; padding: 0px; font-size: 12px;
}
.Pager_Normal a {
	margin: 0px 5px 0px 0px; padding: 2px 6px; text-align: center; line-height: normal; float: left; display: block;
}
.Pager_Normal a:link {
	border: 1px solid rgb(154, 175, 229); color: rgb(53, 104, 185); text-decoration: none; background-color: rgb(255, 255, 255);
}
.Pager_Normal a:visited {
	border: 1px solid rgb(154, 175, 229); color: rgb(53, 104, 185); text-decoration: none; background-color: rgb(255, 255, 255);
}
.Pager_Normal a:hover {
	border: 1px solid rgb(46, 106, 177); color: rgb(54, 54, 54); text-decoration: none; background-color: rgb(255, 255, 255);
}
.Pager_Normal a:active {
	border: 1px solid rgb(46, 106, 177); color: rgb(54, 54, 54); text-decoration: none; background-color: rgb(255, 255, 255);
}
.Pager_Normal span {
	padding: 5px; border: 0px currentColor; color: rgb(255, 255, 255); line-height: normal; margin-right: 5px; float: left; background-color: rgb(41, 108, 179);
}
.Pager_Normal .current {
	padding: 3px 7px; border: 0px currentColor; color: rgb(255, 255, 255); line-height: normal; margin-right: 5px; float: left; background-color: rgb(41, 108, 179);
}
.Pager_Normal .RecordCount {
	padding: 4px; color: rgb(153, 153, 153); float: left;
}
.key_words {
	line-height: 20px; padding-top: 10px; font-weight: 800;
}
.key_words a {
	color: rgb(1, 47, 122) !important;
}
.wenzhang_daohang {
	background: rgb(247, 249, 253); margin: 30px 10px 0px; border: 1px solid rgb(231, 231, 231); color: rgb(8, 45, 101); line-height: 22px; padding-bottom: 10px;
}
.wenzhang_daohang h2 {
	font: bold 14px/normal "Microsoft-Yahei"; padding: 6px 0px 0px 10px; color: rgb(85, 85, 85); margin-bottom: 6px; font-size-adjust: none; font-stretch: normal;
}
.wenzhang_daohang ul {
	padding: 0px 10px;
}
.wenzhang_daohang ul li {
	width: 309px; height: 22px; overflow: hidden; float: left;
}
.wenzhang_daohang ul li span {
	color: rgb(204, 51, 0);
}
#newsDetail {
	border-top-color: rgb(77, 77, 77); border-top-width: 2px; border-top-style: solid;
}
#newsDetail .gray_msg {
	padding: 20px; background-color: rgb(247, 248, 252);
}
#newsDetail .the_author .num_info {
	margin-bottom: 15px;
}
#newsDetail .the_author .num_info dl {
	height: 30px;
}
#newsDetail .the_author .num_info dt {
	width: auto; line-height: 30px; float: left; display: inline;
}
#newsDetail .the_author .num_info dd {
	width: auto; line-height: 30px; float: left; display: inline;
}
#newsDetail .the_author .num_info dd {
	font: 24px/26px "Georgia"; color: rgb(102, 153, 0); font-size-adjust: none; font-stretch: normal;
}
#newsDetail .agency_info dl {
	height: auto;
}
#newsDetail .agency_info dd h6 {
	font-family: "Microsoft YaHei";
}
#newsDetail .agency_info .web_site {
	margin-top: 10px;
}
#newsDetail .he_published ul {
	margin-top: -15px; position: relative;
}
#newsDetail .he_published li {
	background: url("http://res0.xzlres.com/overseas_web/images/hw_news_ico_2012.png") no-repeat 0px 7px; height: 14px; line-height: 14px; overflow: hidden; padding-left: 8px; margin-top: 15px; white-space: nowrap;
}
#hotNews .title_g {
	position: relative;
}
#hotNews .title_g .more {
	top: 0px; right: 10px; font-family: 宋体; font-size: 12px; position: absolute;
}
#hotNews .ad_con {
	margin: 10px;
}
#hotNews .topic_rank ul {
	padding: 10px;
}
#hotNews .topic_rank li {
	height: 22px; line-height: 20px; overflow: hidden; margin-bottom: 2px;
}
#hotNews .topic_rank li a {
	color: rgb(51, 51, 51);
}
#hotNews .topic_rank li strong {
	width: 235px; overflow: hidden; float: left; display: inline;
}
#hotNews .topic_rank li cite {
	width: 235px; overflow: hidden; float: left; display: inline;
}
#hotNews .topic_rank li strong {
	width: 15px; height: 15px; text-align: center; color: rgb(255, 255, 255); line-height: 15px; margin-top: 3px; margin-right: 10px;
}
.ie7 #hotNews .topic_rank li strong {
	margin-top: 2px;
}
#hotNews .topic_rank li .icon1 {
	background: url("http://res0.xzlres.com/overseas_web/images/overseas_icon.png") no-repeat 0px -50px;
}
#hotNews .topic_rank li .icon2 {
	background: url("http://res0.xzlres.com/overseas_web/images/overseas_icon.png") no-repeat 0px -90px;
}
#hotNews .hot {
	background: url("http://res0.xzlres.com/overseas_web/images/overseas_icon.png") no-repeat 0px 0px; left: 130px; top: 10px; width: 24px; height: 15px; display: block; position: absolute;
}
#allTopics #listNav li {
	padding-left: 25px;
}
#quickSearch .searchBox {
	margin: 5px 0px 15px; width: 250px; height: 26px;
}
#quickSearch .searchBox input {
	padding: 3px 5px; border: 1px solid rgb(102, 153, 0); width: 150px; height: 18px; line-height: 18px; vertical-align: middle; float: left;
}
#quickSearch a.listsearch {
	background: url("http://res0.xzlres.com/overseas_web/images/overseas_indexbg.png") no-repeat -88px -1144px; font: 14px/24px Microsoft YaHei; width: 81px; height: 26px; text-align: center; color: rgb(231, 231, 231); overflow: hidden; text-decoration: none; vertical-align: middle; float: right; display: inline-block; font-size-adjust: none; font-stretch: normal;
}
#quickSearch .con {
	padding: 10px;
}
#quickSearch .con dl {
	background: url("http://res0.xzlres.com/overseas_web/images/detail_bg.png") repeat-x 0px -549px; line-height: 21px; padding-top: 11px; margin-top: 10px;
}
#quickSearch .con dl.first {
	margin: 0px; padding: 0px;
}
#quickSearch .con dl dt {
	font: 600 12px/22px 宋体; color: rgb(102, 153, 0); margin-bottom: 5px; font-size-adjust: none; font-stretch: normal;
}
#quickSearch .con dl dd a {
	padding: 0px; color: rgb(0, 0, 0); font-family: 宋体; margin-right: 6px; white-space: nowrap;
}
