
#tqnulecpbjzcrjhszgktqrroequtybklfvassziai{border:solid 2px #fff !important;box-sizing:content-box !important;color:#fff !important;display:block !important;height:auto !important;margin:0 !important;opacity:0.9 !important;padding:7px 10px !important;position:fixed !important;visibility:visible !important;width:auto !important;z-index:2147483647 !important;-webkit-border-radius:5px !important;-webkit-box-shadow:0px 0px 20px #000 !important;-webkit-box-sizing:content-box !important;}.tqnulecpbjzcrjhszgktqrroequtybklfvassziai-blocked{color:#777 !important;display:inline !important;text-decoration:line-through !important;}#tqnulecpbjzcrjhszgktqrroequtybklfvassziai br{display:block !important;}#tqnulecpbjzcrjhszgktqrroequtybklfvassziai span{background:transparent !important;}#tqnulecpbjzcrjhszgktqrroequtybklfvassziai div{border:0 !important;margin:0 !important;padding:0 !important;width:auto !important;letter-spacing:normal !important;font:13px Arial,Helvetica !important;text-align:left !important;text-shadow:none !important;text-transform:none !important;word-spacing:normal !important;}#tqnulecpbjzcrjhszgktqrroequtybklfvassziai a{font-weight:normal !important;background:none !important;text-decoration:underline !important;color:#fff !important;}@media print{#tqnulecpbjzcrjhszgktqrroequtybklfvassziai{display:none !important;}}
.STYLE4 {
	font-size: 16px;
	color: #FF0000;
	font-family: "Courier New", Courier, monospace;
}

.STYLE5 {
	font-size: 12px;
	color: #FF0000;
	font-family: "Courier New", Courier, monospace;
	FLOAT: right;
}

/* <!--新搜索20120413 begin--> */
        .toprightnav .new1
        {
            position: relative;
            margin-right: 10px;
        }
        .toprightnav .new2
        {
            width: 24px;
            position: absolute;
            top: -5px;
            right: -13px;
            color: #c00;
        }
        .toprightform .tr01 span
        {
            float: left;
            overflow: hidden;
        }
